@charset "UTF-8";
/*320px — 480px: dispositivos móveis
481px — 768px: iPads, tablets
769px — 1024px: telas pequenas, laptops
1025px — 1200px: desktops, telas grandes
1201px e acima —  telas muito grandes, TVs*/

@media (min-width: 320px) and (max-width: 760px){
    .consulta-geral{
        display: flex;
        flex-direction: row;
        justify-content: center;
    }
}
@media (min-width: 760px){
    #conteudo{
        margin-left: 210px;
    }
    #botao-flutuante{
        display:none;
    }
}
